﻿<h4>Search for customer by first name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewSearchResults">
            <div class="form-group">
                <label for="SearchCustomer" class="control-label">First name</label>
                <input name="SearchString" class="form-control">
            </div><br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>
